.bg-red {
  background-image: ("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set height as needed */
  width: 100%;
}
.image-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* background-color: aliceblue; */
  /* background-blend-mode: lighten; */
}
.image-container img {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .hero-title {
    font-size: 39px;
  }
}

@media (max-width: 768px) and (min-width: 577px) {
  .hero-title {
    font-size: 48px;
  }
}
